# Building an interactive map with kepler.gl 

When I was doing my final project sometimes I felt stuck so I thought it was a good oportunity to try new things like kepler.gl. Although I already built a map I wanted to follow the instructions provided to see how impactful visualizations can be.

In order to do it I had to search for the latitude and longitude of all the countries listed on my dataset no.2 and merge the information to get one dataset with all the information I need to create a map.

You can find the steps I followed in this link: https://bit.ly/30VDOMS

In [1]:
import numpy as np 
import pandas as pd

In [2]:
data = pd.read_csv('/home/user/Documents/OYI_PC_2and3/TRABAJO/Allwomen/Projects/Final Project/csv_datasets/lati_longi_countries.csv')

In [3]:
data.head()

  country   latitude  longitude                  name
0      AD  42.546245   1.601554               Andorra
1      AE  23.424076  53.847818  United Arab Emirates
2      AF  33.939110  67.709953           Afghanistan
3      AG  17.060816 -61.796428   Antigua and Barbuda
4      AI  18.220554 -63.068615              Anguilla

In [4]:
data.rename(columns={'country': 'abrv', 'name': 'Country'}, inplace=True)

In [5]:
data.head()

  abrv   latitude  longitude               Country
0   AD  42.546245   1.601554               Andorra
1   AE  23.424076  53.847818  United Arab Emirates
2   AF  33.939110  67.709953           Afghanistan
3   AG  17.060816 -61.796428   Antigua and Barbuda
4   AI  18.220554 -63.068615              Anguilla

In [6]:
social = pd.read_csv('/home/user/Documents/OYI_PC_2and3/TRABAJO/Allwomen/Projects/Final Project/csv_datasets/reduced_datasets/mfi_social.csv')

In [7]:
social.head()

,Unnamed: 0,MFI Name,Fiscal Year,Average loan balance per borrower / GNI per capita,Gross Loan Portfolio,Gross Loan Portfolio > Delinquency > One month or more,Number of active borrowers,Offices,Personnel,Portfolio at risk > 30 days,...,Employment generation,Gender equality and womens empowerment,Health improvement,Housing,Adult education,Access financial services,Porverty reduction,Youngsters,Clients urban areas,Women
0,0,1st Valley Bank,2011,0.5013,85055980.0,4029479.0,77543.0,34.0,494.0,0.0478,...,0,0,0,0,0,1,0,0,1,1
1,1,1st Valley Bank,2012,0.7125,112791709.0,6231245.0,72351.0,35.0,532.0,0.0552,...,0,0,0,0,0,1,0,0,1,1
2,2,1st Valley Bank,2013,0.7414,116329302.0,10507132.0,47981.0,35.0,562.0,0.0903,...,0,0,0,0,0,1,0,0,1,1
3,3,1st Valley Bank,2014,0.6669,116423597.0,16537965.0,53388.0,38.0,666.0,0.1420,...,0,0,0,0,0,1,0,0,1,1
4,4,1st Valley Bank,2018,0.8426,132682781.0,11559835.0,48153.0,51.0,769.0,0.0872,...,0,0,0,0,0,1,0,0,1,1

In [8]:
social.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3661 entries, 0 to 3660
Data columns (total 31 columns):
 #   Column                                                  Non-Null Count  Dtype
---  ------                                                  --------------  -----
 0   Unnamed: 0                                              3661 non-null   int64
 1   MFI Name                                                3661 non-null   object
 2   Fiscal Year                                             3661 non-null   int64
 3   Average loan balance per borrower / GNI per capita      3661 non-null   float64
 4   Gross Loan Portfolio                                    3661 non-null   float64
 5   Gross Loan Portfolio > Delinquency > One month or more  3661 non-null   float64
 6   Number of active borrowers                              3661 non-null   float64
 7   Offices                                                 3661 non-null   float64
 8   Personnel                                               3661 non-null   float64
 9   Portfolio at risk > 30 days                             3661 non-null   float64
 10  Country                                                 3661 non-null   object
 11  Region                                                  3661 non-null   object
 12  Declining balance i                                     3661 non-null   int64
 13  Flat i                                                  3661 non-null   int64
 14  Anti-harassment                                         3661 non-null   int64
 15  Social protection                                       3661 non-null   int64
 16  SPM on staff                                            3661 non-null   int64
 17  Agriculture and livestock                               3661 non-null   int64
 18  SME loans                                               3661 non-null   int64
 19  Children schooling                                      3661 non-null   int64
 20  Start-up development                                    3661 non-null   int64
 21  Employment generation                                   3661 non-null   int64
 22  Gender equality and womens empowerment                  3661 non-null   int64
 23  Health improvement                                      3661 non-null   int64
 24  Housing                                                 3661 non-null   int64
 25  Adult education                                         3661 non-null   int64
 26  Access financial services                               3661 non-null   int64
 27  Porverty reduction                                      3661 non-null   int64
 28  Youngsters                                              3661 non-null   int64
 29  Clients urban areas                                     3661 non-null   int64
 30  Women                                                   3661 non-null   int64
dtypes: float64(7), int64(21), object(3)
memory usage: 886.8+ KB

In [9]:
map = pd.merge(social, data, how='inner')

In [10]:
map.head()

,Unnamed: 0,MFI Name,Fiscal Year,Average loan balance per borrower / GNI per capita,Gross Loan Portfolio,Gross Loan Portfolio > Delinquency > One month or more,Number of active borrowers,Offices,Personnel,Portfolio at risk > 30 days,...,Housing,Adult education,Access financial services,Porverty reduction,Youngsters,Clients urban areas,Women,abrv,latitude,longitude
0,0,1st Valley Bank,2011,0.5013,85055980.0,4029479.0,77543.0,34.0,494.0,0.0478,...,0,0,1,0,0,1,1,PH,12.879721,121.774017
1,1,1st Valley Bank,2012,0.7125,112791709.0,6231245.0,72351.0,35.0,532.0,0.0552,...,0,0,1,0,0,1,1,PH,12.879721,121.774017
2,2,1st Valley Bank,2013,0.7414,116329302.0,10507132.0,47981.0,35.0,562.0,0.0903,...,0,0,1,0,0,1,1,PH,12.879721,121.774017
3,3,1st Valley Bank,2014,0.6669,116423597.0,16537965.0,53388.0,38.0,666.0,0.1420,...,0,0,1,0,0,1,1,PH,12.879721,121.774017
4,4,1st Valley Bank,2018,0.8426,132682781.0,11559835.0,48153.0,51.0,769.0,0.0872,...,0,0,1,0,0,1,1,PH,12.879721,121.774017

In [11]:
map.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3566 entries, 0 to 3565
Data columns (total 34 columns):
 #   Column                                                  Non-Null Count  Dtype
---  ------                                                  --------------  -----
 0   Unnamed: 0                                              3566 non-null   int64
 1   MFI Name                                                3566 non-null   object
 2   Fiscal Year                                             3566 non-null   int64
 3   Average loan balance per borrower / GNI per capita      3566 non-null   float64
 4   Gross Loan Portfolio                                    3566 non-null   float64
 5   Gross Loan Portfolio > Delinquency > One month or more  3566 non-null   float64
 6   Number of active borrowers                              3566 non-null   float64
 7   Offices                                                 3566 non-null   float64
 8   Personnel                                               3566 non-null   float64
 9   Portfolio at risk > 30 days                             3566 non-null   float64
 10  Country                                                 3566 non-null   object
 11  Region                                                  3566 non-null   object
 12  Declining balance i                                     3566 non-null   int64
 13  Flat i                                                  3566 non-null   int64
 14  Anti-harassment                                         3566 non-null   int64
 15  Social protection                                       3566 non-null   int64
 16  SPM on staff                                            3566 non-null   int64
 17  Agriculture and livestock                               3566 non-null   int64
 18  SME loans                                               3566 non-null   int64
 19  Children schooling                                      3566 non-null   int64
 20  Start-up development                                    3566 non-null   int64
 21  Employment generation                                   3566 non-null   int64
 22  Gender equality and womens empowerment                  3566 non-null   int64
 23  Health improvement                                      3566 non-null   int64
 24  Housing                                                 3566 non-null   int64
 25  Adult education                                         3566 non-null   int64
 26  Access financial services                               3566 non-null   int64
 27  Porverty reduction                                      3566 non-null   int64
 28  Youngsters                                              3566 non-null   int64
 29  Clients urban areas                                     3566 non-null   int64
 30  Women                                                   3566 non-null   int64
 31  abrv                                                    3566 non-null   object
 32  latitude                                                3566 non-null   float64
 33  longitude                                               3566 non-null   float64
dtypes: float64(9), int64(21), object(4)
memory usage: 975.1+ KB

In [12]:
map.drop(['Unnamed: 0', 'abrv'], axis=1, inplace=True)

In [13]:
map.shape

(3566, 32)

In [14]:
pip install keplergl

Requirement already satisfied: keplergl in /home/user/my-project-env/lib/python3.7/site-packages (0.2.0)
Requirement already satisfied: Shapely>=1.6.4.post2 in /home/user/my-project-env/lib/python3.7/site-packages (from keplergl) (1.7.0)
Requirement already satisfied: ipywidgets<8,>=7.0.0 in /home/user/my-project-env/lib/python3.7/site-packages (from keplergl) (7.5.1)
Requirement already satisfied: pandas>=0.23.0 in /home/user/my-project-env/lib/python3.7/site-packages (from keplergl) (1.0.3)
Requirement already satisfied: traittypes>=0.2.1 in /home/user/my-project-env/lib/python3.7/site-packages (from keplergl) (0.2.1)
Requirement already satisfied: geopandas>=0.5.0 in /home/user/my-project-env/lib/python3.7/site-packages (from keplergl) (0.7.0)
Requirement already satisfied: traitlets>=4.3.1 in /home/user/my-project-env/lib/python3.7/site-packages (from ipywidgets<8,>=7.0.0->keplergl) (4.3.3)
Requirement already satisfied: ipykernel>=4.5.1 in /home/user/my-project-env/lib/python3.7/site-packages (from ipywidgets<8,>=7.0.0->keplergl) (5.3.0)
Requirement already satisfied: widgetsnbextension~=3.5.0 in /home/user/my-project-env/lib/python3.7/site-packages (from ipywidgets<8,>=7.0.0->keplergl) (3.5.1)
Requirement already satisfied: nbformat>=4.2.0 in /home/user/my-project-env/lib/python3.7/site-packages (from ipywidgets<8,>=7.0.0->keplergl) (5.0.6)
Requirement already satisfied: ipython>=4.0.0; python_version >= "3.3" in /home/user/my-project-env/lib/python3.7/site-packages (from ipywidgets<8,>=7.0.0->keplergl) (7.14.0)
Requirement already satisfied: python-dateutil>=2.6.1 in /home/user/my-project-env/lib/python3.7/site-packages (from pandas>=0.23.0->keplergl) (2.8.1)
Requirement already satisfied: numpy>=1.13.3 in /home/user/my-project-env/lib/python3.7/site-packages (from pandas>=0.23.0->keplergl) (1.18.4)
Requirement already satisfied: pytz>=2017.2 in /home/user/my-project-env/lib/python3.7/site-packages (from pandas>=0.23.0->keplergl) (2020.1)
Requirement already satisfied: fiona in /home/user/my-project-env/lib/python3.7/site-packages (from geopandas>=0.5.0->keplergl) (1.8.13.post1)
Requirement already satisfied: pyproj>=2.2.0 in /home/user/my-project-env/lib/python3.7/site-packages (from geopandas>=0.5.0->keplergl) (2.6.1.post1)
Requirement already satisfied: decorator in /home/user/my-project-env/lib/python3.7/site-packages (from traitlets>=4.3.1->ipywidgets<8,>=7.0.0->keplergl) (4.4.2)
Requirement already satisfied: ipython-genutils in /home/user/my-project-env/lib/python3.7/site-packages (from traitlets>=4.3.1->ipywidgets<8,>=7.0.0->keplergl) (0.2.0)
Requirement already satisfied: six in /home/user/my-project-env/lib/python3.7/site-packages (from traitlets>=4.3.1->ipywidgets<8,>=7.0.0->keplergl) (1.12.0)
Requirement already satisfied: jupyter-client in /home/user/my-project-env/lib/python3.7/site-packages (from ipykernel>=4.5.1->ipywidgets<8,>=7.0.0->keplergl) (6.1.3)
Requirement already satisfied: tornado>=4.2 in /home/user/my-project-env/lib/python3.7/site-packages (from ipykernel>=4.5.1->ipywidgets<8,>=7.0.0->keplergl) (6.0.4)
Requirement already satisfied: notebook>=4.4.1 in /home/user/my-project-env/lib/python3.7/site-packages (from widgetsnbextension~=3.5.0->ipywidgets<8,>=7.0.0->keplergl) (6.0.3)
Requirement already satisfied: jsonschema!=2.5.0,>=2.4 in /home/user/my-project-env/lib/python3.7/site-packages (from nbformat>=4.2.0->ipywidgets<8,>=7.0.0->keplergl) (3.2.0)
Requirement already satisfied: jupyter-core in /home/user/my-project-env/lib/python3.7/site-packages (from nbformat>=4.2.0->ipywidgets<8,>=7.0.0->keplergl) (4.6.3)
Requirement already satisfied: setuptools>=18.5 in /home/user/my-project-env/lib/python3.7/site-packages (from ipython>=4.0.0; python_version >= "3.3"->ipywidgets<8,>=7.0.0->keplergl) (41.2.0)
Requirement already satisfied: pexpect; sys_platform != "win32" in /home/user/my-project-env/lib/python3.7/site-packages (from ipython>=4.0.0; python_version >= "3.3"->ipywidgets<8,>=7.0.0->keplergl) (4.8.0)
Requirement already satisfied: backcall in /home/user/my-project-env/lib/python3.7/site-packages (from ipython>=4.0.0; python_version >= "3.3"->ipywidgets<8,>=7.0.0->keplergl) (0.1.0)
Requirement already satisfied: pickleshare in /home/user/my-project-env/lib/python3.7/site-packages (from ipython>=4.0.0; python_version >= "3.3"->ipywidgets<8,>=7.0.0->keplergl) (0.7.5)
Requirement already satisfied: prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0 in /home/user/my-project-env/lib/python3.7/site-packages (from ipython>=4.0.0; python_version >= "3.3"->ipywidgets<8,>=7.0.0->keplergl) (3.0.5)
Requirement already satisfied: pygments in /home/user/my-project-env/lib/python3.7/site-packages (from ipython>=4.0.0; python_version >= "3.3"->ipywidgets<8,>=7.0.0->keplergl) (2.6.1)
Requirement already satisfied: jedi>=0.10 in /home/user/my-project-env/lib/python3.7/site-packages (from ipython>=4.0.0; python_version >= "3.3"->ipywidgets<8,>=7.0.0->keplergl) (0.17.0)
Requirement already satisfied: click-plugins>=1.0 in /home/user/my-project-env/lib/python3.7/site-packages (from fiona->geopandas>=0.5.0->keplergl) (1.1.1)
Requirement already satisfied: munch in /home/user/my-project-env/lib/python3.7/site-packages (from fiona->geopandas>=0.5.0->keplergl) (2.5.0)
Requirement already satisfied: click<8,>=4.0 in /home/user/my-project-env/lib/python3.7/site-packages (from fiona->geopandas>=0.5.0->keplergl) (7.1.2)
Requirement already satisfied: attrs>=17 in /home/user/my-project-env/lib/python3.7/site-packages (from fiona->geopandas>=0.5.0->keplergl) (19.3.0)
Requirement already satisfied: cligj>=0.5 in /home/user/my-project-env/lib/python3.7/site-packages (from fiona->geopandas>=0.5.0->keplergl) (0.5.0)
Requirement already satisfied: pyzmq>=13 in /home/user/my-project-env/lib/python3.7/site-packages (from jupyter-client->ipykernel>=4.5.1->ipywidgets<8,>=7.0.0->keplergl) (19.0.1)
Requirement already satisfied: jinja2 in /home/user/my-project-env/lib/python3.7/site-packages (from notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets<8,>=7.0.0->keplergl) (2.11.2)
Requirement already satisfied: prometheus-client in /home/user/my-project-env/lib/python3.7/site-packages (from notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets<8,>=7.0.0->keplergl) (0.8.0)
Requirement already satisfied: Send2Trash in /home/user/my-project-env/lib/python3.7/site-packages (from notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets<8,>=7.0.0->keplergl) (1.5.0)
Requirement already satisfied: nbconvert in /home/user/my-project-env/lib/python3.7/site-packages (from notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets<8,>=7.0.0->keplergl) (5.6.1)
Requirement already satisfied: terminado>=0.8.1 in /home/user/my-project-env/lib/python3.7/site-packages (from notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets<8,>=7.0.0->keplergl) (0.8.3)
Requirement already satisfied: importlib-metadata; python_version < "3.8" in /home/user/my-project-env/lib/python3.7/site-packages (from jsonschema!=2.5.0,>=2.4->nbformat>=4.2.0->ipywidgets<8,>=7.0.0->keplergl) (1.6.0)
Requirement already satisfied: pyrsistent>=0.14.0 in /home/user/my-project-env/lib/python3.7/site-packages (from jsonschema!=2.5.0,>=2.4->nbformat>=4.2.0->ipywidgets<8,>=7.0.0->keplergl) (0.16.0)
Requirement already satisfied: ptyprocess>=0.5 in /home/user/my-project-env/lib/python3.7/site-packages (from pexpect; sys_platform != "win32"->ipython>=4.0.0; python_version >= "3.3"->ipywidgets<8,>=7.0.0->keplergl) (0.6.0)
Requirement already satisfied: wcwidth in /home/user/my-project-env/lib/python3.7/site-packages (from prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0->ipython>=4.0.0; python_version >= "3.3"->ipywidgets<8,>=7.0.0->keplergl) (0.1.9)
Requirement already satisfied: parso>=0.7.0 in /home/user/my-project-env/lib/python3.7/site-packages (from jedi>=0.10->ipython>=4.0.0; python_version >= "3.3"->ipywidgets<8,>=7.0.0->keplergl) (0.7.0)
Requirement already satisfied: MarkupSafe>=0.23 in /home/user/my-project-env/lib/python3.7/site-packages (from jinja2->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets<8,>=7.0.0->keplergl) (1.1.1)
Requirement already satisfied: defusedxml in /home/user/my-project-env/lib/python3.7/site-packages (from nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets<8,>=7.0.0->keplergl) (0.6.0)
Requirement already satisfied: mistune<2,>=0.8.1 in /home/user/my-project-env/lib/python3.7/site-packages (from nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets<8,>=7.0.0->keplergl) (0.8.4)
Requirement already satisfied: bleach in /home/user/my-project-env/lib/python3.7/site-packages (from nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets<8,>=7.0.0->keplergl) (3.1.5)

Requirement already satisfied: entrypoints>=0.2.2 in /home/user/my-project-env/lib/python3.7/site-packages (from nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets<8,>=7.0.0->keplergl) (0.3)
Requirement already satisfied: testpath in /home/user/my-project-env/lib/python3.7/site-packages (from nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets<8,>=7.0.0->keplergl) (0.4.4)
Requirement already satisfied: pandocfilters>=1.4.1 in /home/user/my-project-env/lib/python3.7/site-packages (from nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets<8,>=7.0.0->keplergl) (1.4.2)
Requirement already satisfied: zipp>=0.5 in /home/user/my-project-env/lib/python3.7/site-packages (from importlib-metadata; python_version < "3.8"->jsonschema!=2.5.0,>=2.4->nbformat>=4.2.0->ipywidgets<8,>=7.0.0->keplergl) (3.1.0)
Requirement already satisfied: packaging in /home/user/my-project-env/lib/python3.7/site-packages (from bleach->nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets<8,>=7.0.0->keplergl) (20.4)
Requirement already satisfied: webencodings in /home/user/my-project-env/lib/python3.7/site-packages (from bleach->nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets<8,>=7.0.0->keplergl) (0.5.1)
Requirement already satisfied: pyparsing>=2.0.2 in /home/user/my-project-env/lib/python3.7/site-packages (from packaging->bleach->nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets<8,>=7.0.0->keplergl) (2.4.7)
WARNING: You are using pip version 20.1; however, version 20.1.1 is available.
You should consider upgrading via the '/home/user/my-project-env/bin/python3 -m pip install --upgrade pip' command.
Note: you may need to restart the kernel to use updated packages.

In [15]:
import geopandas as gepd
import keplergl

In [16]:
df = map.copy()

In [17]:
# lat and lon to numeric, errors converted to nan
df['LONGITUDE'] = pd.to_numeric(df.longitude, errors='coerce')
df['LATITUDE'] = pd.to_numeric(df.latitude, errors='coerce')
# drop rows with missing lat and lon
df.dropna(subset=['longitude', 'latitude'], inplace=True)

In [18]:
kepler_map = keplergl.KeplerGl(height=400)
kepler_map

User Guide: https://docs.kepler.gl/docs/keplergl-jupyter

KeplerGl()

In [19]:
kepler_map.add_data(data=df, name="mfi")